<ul class="myLibrary">
  <% if(!isReadOnly) { %>
  <% myBooks.forEach((book) => { %>
  <li class="myBook">
    <a class="bookTitle <%=  book._id === selectedBook._id  ? 'active': '' %>" href="/profile/book/<%= book._id %>">
      <span><%- book.title%></span>
    </a>
    <a class="edit" href="/profile/book/<%= book._id %>">
      <i class="material-symbols-outlined ">edit</i>
    </a>
    <a class="lock-icon" href="/profile/lock/<%= book._id %>">
      <span><i class="fas <%= book.isPublic ? 'fa-unlock': 'fa-lock' %>"></i></span>
    </a>
  </li>
  <% }) %>
  <% } else { %>
  <% readOnlyBooks.forEach((book) => { %>
  <li class="readOnlyBooks">
    <a class="bookTitle <%= book._id === selectedBook._id  ? 'active': '' %>" href="/profile/book/<%= book._id %>">
      <span><%- book.title%></span>
    </a>
  </li>
  <% }) %>
  <% } %>
</ul>