<!-- <div class="col d-flex justify-content-center mx-auto align-item-center "> -->
<div class="card mb-3 justify-content-center mx-auto align-item-center" style="max-width: 65%; margin-top: 18rem">
  <div class="row g-0">
    <div class="col-md-4">
      <% if (book.cover) { %>
      <img src="<%- book.cover %>" alt="Book Cover" class="img-fluid rounded-start" />
      <% } else { %>
      <img src="/images/cover_not_found.jpg" class="img-fluid rounded-start" />
      <% } %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= book.title %></h5>
        <% if (book.description) { %>
        <p class="card-text"><%= book.description %></p>
        <% } %>
        <% book.links.forEach((link, index) => { %>
        <p class="card-text"><small class="text-body-secondary">
            <a href="<%- link.url %>" name="bookData" value=<%= book.author_name %> target="_blank"><%- link.title %></a>
          </small></p>
        <% }) %>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->


<!-- <div class="Preview-Book">
  <div class="grid-container">
    <div class="cover-description">
      <div class="cover-image">
        <h2 class="bookLib-title"><%- book.title %></h2>
        <% if (book.cover) { %>
        <img src="<%- book.cover %>" alt="Book Cover" class="book-cover" />
        <% } else { %>
        <img src="/images/cover_not_found.jpg" class="book-cover" />
        <% } %>
      </div>
      <div class="description">
        <% if (book.description) { %>
        <h3 class="description-title">Description</h3>
        <p class="description-text"><%= book.description %></p>
        <% } %>
      </div>
    </div>
    <div class="preview-url">
      <% if (book.links) { %>
      <div class="link-grid">
        <% book.links.forEach((link, index) => { %>
        <div class="link-item">
          <strong><%- index + 1 %>.</strong> <a href="<%- link.url %>" name="bookData" value=<%= book.author_name %> target="_blank"><%- link.title %></a>
        </div>
        <% }) %>
      </div>
      <% } %>
    </div>
  </div>
</div> -->