<div class="book-item">
  <h2><%- book.title %></h2>
  <% if (book.cover) { %>
  <img src="<%- book.cover %>" alt="Book Cover" class="book-cover" />
  <% } else { %>
  <img src="/images/cover_not_found.jpg" class="book-cover" />
  <% } %>
  <% if(book.description){%>
  <p>Description: <%= book.description %></p>
  <% } %>
  <% if(book.links){%>
  <% book.links.forEach((link) => { %>
  <a href="<%- link.url %>" name="bookData" value=<%= book.author_name  %>target="_blank"><%- link.title  %></a>
  <br>
  <% }) %>
  <% } %>
</div>