<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" />
<div class="wrapper">
  <div class="section">
    <div class="top_navbar">
      <div class="hamburger">
        <a href="#">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="container">
      <% if (active === "home") { %>
      <%- include ('./partials/homepage.ejs') %>
      <% } %>
      <% if (active === "book") { %>
      <%- include('./partials/editor.ejs', {book: selectedBook}) %>
      <% } %>
    </div>
  </div>
  <div class="sidebar">
    <div class="profile">
      <img src="<%- user.profileImage %>" alt="profile_picture" style="transform: scale(0.5);">
      <form action="/edit-profile" method="post" enctype="multipart/form-data">
        <input type="file" name="profileImage" id="editProfileInput" style="display: none;" onchange="this.form.submit()">
        <label for="editProfileInput" class="editProfileButton">Edit</label>
      </form>
      <h3><%= user.username %></h3>
      <p>Designer</p>
    </div>
    <ul>
      <li>
        <a href="/profile" class="<%= active === 'home' ? 'active': '' %>">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="item">Home</span>
        </a>
        <% if (myBooks.length > 0 || readOnlyBooks.length > 0) { %>
        <div class="sidebarLibrary">
          <%- include('./partials/sidebar-library.ejs', {myBooks, readOnlyBooks}) %>
        </div>
        <% } %>
      </li>
      <li>
        <a href="/library" class="<%= active === 'home' || active === 'book' ? 'active': '' %>">
          <span class="icon"><i class="fas fa-desktop"></i></span>
          <span class="item">Library</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span class="item">Settings</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  const hamburger = document.querySelector(".hamburger");
  hamburger.addEventListener("click", function() {
    const classes = document.querySelector("body").classList;
    classes.toggle("active");
  });
</script>

<script>
  const editProfileButton = document.getElementById('editProfileButton');
  const editProfileInput = document.getElementById('editProfileInput');
  const editProfileForm = document.getElementById('editProfileForm');

  editProfileButton.addEventListener('click', () => {
    editProfileInput.click();
  });

  function handleFileSelection(event) {
    editProfileForm.submit();
  }
</script>