<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" />
<div class="wrapper">
  <div class="section">
    <div class="top_navbar">
      <div class="hamburger">
        <a href="#">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
    <div class="profileBody">
      <% if (active === "home") { %>
      <%- include ('./partials/homepage.ejs') %>
      <% } %>
      <% if (active === "book") { %>
      <%- include('./partials/editor.ejs', {book: selectedBook}) %>
      <% } %>
    </div>
  </div>
  <div class="sidebar">
    <div class="profile">
      <img src="/images/navbar_logo.png" alt="profile_picture" />
      <h3><%= user.username %></h3>
      <p>Writer</p>
    </div>
    <ul class="navBarSection">
      <li>
        <a href="/profile" class="<%= active === 'home' ? 'active': '' %>">
          <span class="icon"><i class="fas fa-home"></i></span>
          <span class="item">Home</span>
        </a>
        <% if (myBooks.length > 0 ) { %>
        <div class="sidebarLibrary">
          <i class="fa fa-book icon" aria-hidden="true"></i>
          <!-- <i class="material-symbols-outlined icon">library_books</i> -->
          <span class="item">My Books</span>
          <%- include('./partials/sidebar-library.ejs', {myBooks, isReadOnly: false}) %>
        </div>
        <% } %>
        <% if ( readOnlyBooks.length > 0) { %>
        <div class="sidebarLibrary">
          <i class="fa fa-book icon" aria-hidden="true"></i>
          <!-- <i class="material-symbols-outlined icon">library_books</i> -->
          <span class="item">Explorer Books</span>
          <%- include('./partials/sidebar-library.ejs', {readOnlyBooks, isReadOnly: true}) %>
        </div>
        <% } %>
      </li>
      <li class="navSetting">
        <a href="/library">
          <span class="icon"><i class="fas fa-desktop"></i></span>
          <span class="item">Library</span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="icon"><i class="fas fa-cog"></i></span>
          <span class="item">Settings</span>
        </a>
      </li>
      <li>
        <a href="/profile/user/logout">
          <i class="material-symbols-outlined ">logout</i>
          <span class="item">Logout</span>
        </a>
      </li>
      <li>
        <a href="/profile/user/delete">
          <i class="material-symbols-outlined ">delete</i>
          <span class="item">Delete Account</span>
        </a>
      </li>
    </ul>
  </div>
</div>

<script>
  const hamburger = document.querySelector(".hamburger");
  hamburger.addEventListener("click", function() {
    const classes = document.querySelector("body").classList;
    classes.toggle("active");
  });
</script>



<!-- //grid-column: span 1 / span 1;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
/* border: 2px solid white; */
background-color: #242222;
}

book-item {
  grid-column: span 1 / span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* border: 2px solid white; */
  background-color: #242222;
  padding: 5px; -->